{% extends "base/group.html" %}

{% block title %} Routine {% endblock %}


{% block schooldetails %}
<a class="navbar-brand" href="{% url 'groupdisplay' randomid=theschool.randomid groupslug=thegroup.slug %}"><img src="{{ theschool.schoollogo.url }}" alt="{{ theschool.schoolname }}"  height="50px"> | {{ theschool.schoolname }} | {{ thegroup.groupname }}</a>
{% endblock %}

{% block navigation %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'classview' randomid=theschool.randomid groupslug=thegroup.slug %}">Class</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'routineview' randomid=theschool.randomid groupslug=thegroup.slug %}">Routine</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'breakview' randomid=theschool.randomid groupslug=thegroup.slug %}">Breaks</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'groupsubjectsview' randomid=theschool.randomid groupslug=thegroup.slug %}">Subjects</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'lessonsview' randomid=theschool.randomid groupslug=thegroup.slug %}">Lessons</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'specificationsview' randomid=theschool.randomid groupslug=thegroup.slug %}">Specifications</a>
</li>
{% endblock %}

{% block content %}

{% if routines|length > 0 %}
<div class="card mt-2 mx-3" style="width: 95%;">
    <div class="card-body">
      <h5 class="card-title my_card_title">Routines</h5>
    </div>
  </div>
{% for routine in routines %}
<div class="card mt-2 mx-3" style="width: 95%;">
    <div class="card-body">
      <h5 class="card-title">Day: {{ routine.day }} Start time: {{ routine.starttime }} End time: {{ routine.endtime }}</h5>
      <a href="{% url 'editroutine' randomid=theschool.randomid groupslug=thegroup.slug routineid=routine.id %}" class="card-link">Edit Routine</a>
      <a href="{% url 'deleteroutine' randomid=theschool.randomid groupslug=thegroup.slug routineid=routine.id %}" class="card-link">Delete Routine (This is not reversible)</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="card mt-2 mx-3" style="width: 95%;">
  <div class="card-body">
    <h5 class="card-title">Sorry, you have no routine specified currently.</h5>
  </div>
</div>
{% endif %}
<div class="container mb-3">
  <div class="row">
      <div class="col-md-12">
          <button class="btn mt-2 mx-2"  style="width: 95%;">
            <a href="{% url 'addroutine' randomid=theschool.randomid groupslug=thegroup.slug %}">Add New Routine</a>
          </button>
      </div>
  </div>
</div>

{% endblock %}