{% extends "base/group.html" %}

{% block title %} Specifications {% endblock %}


{% block schooldetails %}
<a class="navbar-brand" href="{% url 'groupdisplay' randomid=theschool.randomid groupslug=thegroup.slug %}"><img src="{{ theschool.schoollogo.url }}" alt="{{ theschool.schoolname }}"  height="50px"> | {{ theschool.schoolname }} | {{ thegroup.groupname }}</a>
{% endblock %}

{% block navigation %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'classview' randomid=theschool.randomid groupslug=thegroup.slug %}">Class</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'routineview' randomid=theschool.randomid groupslug=thegroup.slug %}">Routine</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'breakview' randomid=theschool.randomid groupslug=thegroup.slug %}">Breaks</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'groupsubjectsview' randomid=theschool.randomid groupslug=thegroup.slug %}">Subjects</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'lessonsview' randomid=theschool.randomid groupslug=thegroup.slug %}">Lessons</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'specificationsview' randomid=theschool.randomid groupslug=thegroup.slug %}">Specifications</a>
</li>
{% endblock %}

{% block content %}

{% if specifications|length > 0 %}
<div class="card mt-2 mx-3" style="width: 95%;">
    <div class="card-body">
      <h5 class="card-title my_card_title">Specifications</h5>
    </div>
  </div>
{% for specification in specifications %}
<div class="card mt-2 mx-3" style="width: 95%;">
    <div class="card-body">
        <h5 class="card-title">The Lesson: {{ specification.groupsubjectteachers }}</h5>
      <h5 class="card-title">Day: {{ specification.day }} Start time: {{ specification.starttime }} End time: {{ specification.endtime }}</h5>
      <a href="{% url 'editspecification' randomid=theschool.randomid groupslug=thegroup.slug specificid=specification.id %}" class="card-link">Edit Specification</a>
      <a href="{% url 'deletespecification' randomid=theschool.randomid groupslug=thegroup.slug specificid=specification.id %}" class="card-link">Delete Specification (This is not reversible)</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="card mt-2 mx-3" style="width: 95%;">
  <div class="card-body">
    <h5 class="card-title">Sorry, you have no specifications specified currently.</h5>
  </div>
</div>
{% endif %}
<div class="container mb-3">
  <div class="row">
      <div class="col-md-12">
          <button class="btn mt-2 mx-2"  style="width: 95%;">
            <a href="{% url 'addspecification' randomid=theschool.randomid groupslug=thegroup.slug %}">Add New Specification</a>
          </button>
      </div>
  </div>
</div>

{% endblock %}