<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        .my_card_title {
            text-align: center;
            font-weight: 900;
            font-size: 20px;
        }
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
          text-align: center;
          padding: 2px;
        }
        td {
            padding-left: 3px;
          padding-right: 3px;
        }
    </style>
</head>
<body>
	<div style="width: 95%;">
    <div class="card-body">
      <h5 class="my_card_title">Timetable</h5>
      <h5 class="my_card_title">Class: 5 Stream: Joy Class Teacher: Mr. Mugambi</h5>
    </div>
</div>
<div class="container-fluid">

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:35 a.m.</th>
        
        <th>08:35 a.m. - 09:10 a.m.</th>
        
        <th>09:10 a.m. - 09:40 a.m.</th>
        
        <th>09:40 a.m. - 10:15 a.m.</th>
        
        <th>10:15 a.m. - 10:50 a.m.</th>
        
        <th>10:50 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:05 p.m.</th>
        
        <th>12:05 p.m. - 12:40 p.m.</th>
        
        <th>12:40 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:35 p.m.</th>
        
        <th>02:35 p.m. - 03:10 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Monday</td>
        
        
        <td style="background-color: #1A0CA3">
            <div class="text-center">
                <p>P.E</p>
                <p>Mr. Nzomo</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>Mathematics</p>
                <p>Mr. Richard</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>Kiswahili</p>
                <p>Madam Faith</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>Mathematics</p>
                <p>Mr. Richard</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>Chemistry</p>
                <p>Mr. Chege</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #A7BDB4">
            <div class="text-center">
                <p>Geography</p>
                <p>Mr. Mugambi</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #ADF0A2">
            <div class="text-center">
                <p>History</p>
                <p>Mr. Paul</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #1A0CA3">
            <div class="text-center">
                <p>P.E</p>
                <p>Mr. Nzomo</p>
            </div>
        </td>
        
        
    </tr>
</table>

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:35 a.m.</th>
        
        <th>08:35 a.m. - 09:10 a.m.</th>
        
        <th>09:10 a.m. - 09:40 a.m.</th>
        
        <th>09:40 a.m. - 10:15 a.m.</th>
        
        <th>10:15 a.m. - 10:50 a.m.</th>
        
        <th>10:50 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:05 p.m.</th>
        
        <th>12:05 p.m. - 12:40 p.m.</th>
        
        <th>12:40 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:35 p.m.</th>
        
        <th>02:35 p.m. - 03:10 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Tuesday</td>
        
        
        <td style="background-color: #326455">
            <div class="text-center">
                <p>English</p>
                <p>Mr. Mwangi</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>Kiswahili</p>
                <p>Madam Faith</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>Mathematics</p>
                <p>Mr. Richard</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #326455">
            <div class="text-center">
                <p>English</p>
                <p>Mr. Mwangi</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #A7BDB4">
            <div class="text-center">
                <p>Geography</p>
                <p>Mr. Mugambi</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #1A0CA3">
            <div class="text-center">
                <p>P.E</p>
                <p>Mr. Nzomo</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #1A0CA3">
            <div class="text-center">
                <p>P.E</p>
                <p>Mr. Nzomo</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #D4D02F">
            <div class="text-center">
                <p>Biology</p>
                <p>Mr. Willis</p>
            </div>
        </td>
        
        
    </tr>
</table>

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:35 a.m.</th>
        
        <th>08:35 a.m. - 09:10 a.m.</th>
        
        <th>09:10 a.m. - 09:40 a.m.</th>
        
        <th>09:40 a.m. - 10:15 a.m.</th>
        
        <th>10:15 a.m. - 10:50 a.m.</th>
        
        <th>10:50 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:05 p.m.</th>
        
        <th>12:05 p.m. - 12:40 p.m.</th>
        
        <th>12:40 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:35 p.m.</th>
        
        <th>02:35 p.m. - 03:10 p.m.</th>
        
        <th>02:35 p.m. - 03:10 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Wednesday</td>
        
        
        <td style="background-color: #D4D02F">
            <div class="text-center">
                <p>Biology</p>
                <p>Mr. Willis</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #A7BDB4">
            <div class="text-center">
                <p>Geography</p>
                <p>Mr. Mugambi</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #273768">
            <div class="text-center">
                <p>Mathematics</p>
                <p>Mr. Richard</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #ADF0A2">
            <div class="text-center">
                <p>History</p>
                <p>Mr. Paul</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #D4D02F">
            <div class="text-center">
                <p>Biology</p>
                <p>Mr. Willis</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #82374A">
            <div class="text-center">
                <p>Computer Studies</p>
                <p>Mr. Martin</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #A7BDB4">
            <div class="text-center">
                <p>Geography</p>
                <p>Mr. Mugambi</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #1A0CA3">
            <div class="text-center">
                <p>P.E</p>
                <p>Mr. Nzomo</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #ADF0A2">
            <div class="text-center">
                <p>History</p>
                <p>Mr. Paul</p>
            </div>
        </td>
        
        
    </tr>
</table>

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:35 a.m.</th>
        
        <th>08:35 a.m. - 09:10 a.m.</th>
        
        <th>09:10 a.m. - 09:40 a.m.</th>
        
        <th>09:40 a.m. - 10:15 a.m.</th>
        
        <th>10:15 a.m. - 10:50 a.m.</th>
        
        <th>10:50 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:05 p.m.</th>
        
        <th>12:05 p.m. - 12:40 p.m.</th>
        
        <th>12:40 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:35 p.m.</th>
        
        <th>02:35 p.m. - 03:10 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Thursday</td>
        
        
        <td style="background-color: #A7BDB4">
            <div class="text-center">
                <p>Geography</p>
                <p>Mr. Mugambi</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #82374A">
            <div class="text-center">
                <p>Computer Studies</p>
                <p>Mr. Martin</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>Chemistry</p>
                <p>Mr. Chege</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #D4D02F">
            <div class="text-center">
                <p>Biology</p>
                <p>Mr. Willis</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>Kiswahili</p>
                <p>Madam Faith</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>Kiswahili</p>
                <p>Madam Faith</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>Chemistry</p>
                <p>Mr. Chege</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #ADF0A2">
            <div class="text-center">
                <p>History</p>
                <p>Mr. Paul</p>
            </div>
        </td>
        
        
    </tr>
</table>

<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        
        <th>08:00 a.m. - 08:35 a.m.</th>
        
        <th>08:35 a.m. - 09:10 a.m.</th>
        
        <th>09:10 a.m. - 09:40 a.m.</th>
        
        <th>09:40 a.m. - 10:15 a.m.</th>
        
        <th>10:15 a.m. - 10:50 a.m.</th>
        
        <th>10:50 a.m. - 11:30 a.m.</th>
        
        <th>11:30 a.m. - 12:05 p.m.</th>
        
        <th>12:05 p.m. - 12:40 p.m.</th>
        
        <th>12:40 p.m. - 02:00 p.m.</th>
        
        <th>02:00 p.m. - 02:35 p.m.</th>
        
        <th>02:35 p.m. - 03:10 p.m.</th>
        
    </tr>
    <tr>
        <td class="px-2">Friday</td>
        
        
        <td style="background-color: #326455">
            <div class="text-center">
                <p>English</p>
                <p>Mr. Mwangi</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>Kiswahili</p>
                <p>Madam Faith</p>
            </div>
        </td>
        
        
        
        <td>
            Short Break
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>Chemistry</p>
                <p>Mr. Chege</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #82374A">
            <div class="text-center">
                <p>Computer Studies</p>
                <p>Mr. Martin</p>
            </div>
        </td>
        
        
        
        <td>
            Long Break
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>Kiswahili</p>
                <p>Madam Faith</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>Chemistry</p>
                <p>Mr. Chege</p>
            </div>
        </td>
        
        
        
        <td>
            Lunch Break
        </td>
        
        
        
        <td style="background-color: #B38DC8">
            <div class="text-center">
                <p>Chemistry</p>
                <p>Mr. Chege</p>
            </div>
        </td>
        
        
        
        <td style="background-color: #6D8AD5">
            <div class="text-center">
                <p>Kiswahili</p>
                <p>Madam Faith</p>
            </div>
        </td>
        
        
    </tr>
</table>

</div>
</body>
</html>