<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        .my_card_title {
            text-align: center;
            font-weight: 900;
            font-size: 20px;
        }
        table, tr, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
          text-align: center;
          padding: 2px;
        }
        td {
            padding-left: 3px;
          padding-right: 3px;
        }
    </style>
</head>
<body>
	<div style="width: 95%;">
    <div class="card-body">
      <h5 class="my_card_title">Timetable</h5>
      <h5 class="my_card_title">Class: {{ theclass.classname }} Stream: {{ theclass.stream.streamname }} Class Teacher: {{ theclass.classteacher.teachername }}</h5>
    </div>
</div>
<div class="container-fluid">
{% for a in timetable %}
<table class="mb-2 mt-2">
    <tr>
        <th>Day</th>
        {% for b in a.lessons %}
        <th>{{ b.starttime|time:"h:i a" }} - {{ b.endtime|time:"h:i a" }}</th>
        {% endfor %}
    </tr>
    <tr>
        <td class="px-2">{{ a.day }}</td>
        {% for b in a.lessons %}
        {% if b.identity == 'Break' %}
        <td>
            {{ b.breakname }}
        </td>
        {% else %}
        <td style="background-color: {{ b.subject.color }}">
            <div class="text-center">
                <p>{{ b.subject.subjectname }}</p>
                <p>{{ b.teacher.teachername }}</p>
            </div>
        </td>
        {% endif %}
        {% endfor %}
    </tr>
</table>
{% endfor %}
</div>
</body>
</html>