{% extends "base/school.html" %}

{% block title %} Timetables {% endblock %}

{% block schooldetails %}
<a class="navbar-brand" href="{% url 'schoolview' randomid=theschool.randomid %}"><img src="{{ theschool.schoollogo.url }}" alt="{{ theschool.schoolname }}" height="50px"> | {{ theschool.schoolname }}</a>
{% endblock %}

{% block navigation %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'groupview' randomid=theschool.randomid %}">Groups</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'subjectview' randomid=theschool.randomid %}">Subjects</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'streamview' randomid=theschool.randomid %}">Streams</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'teacherview' randomid=theschool.randomid %}">Teachers</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'timetablesview' randomid=theschool.randomid %}">Timetables</a>
</li>
{% endblock %}

{% block content %}
<div class="card mt-2 mx-3" style="width: 95%;">
    <div class="card-body">
      <h5 class="card-title my_card_title">Timetables in this Group</h5>
    </div>
  </div>
{% for class in allclasses %}
<div class="card mt-2 mx-3" style="width: 95%;">
    <div class="card-body">
        <h5 class="card-title">Class: {{ class.classname }} Stream: {{ class.stream.streamname }} Class Teacher: {{ class.classteacher.teachername }}</h5>
      <a href="{% url 'onetimetable' randomid=theschool.randomid timetableid=thetimetable.id classlug=class.slug %}" class="card-link">View Timetable</a>
      <a href="{% url 'pdftimetable' randomid=theschool.randomid timetableid=thetimetable.id classlug=class.slug %}" class="card-link">View Timetable (PDF Version)</a>
    </div>
</div>
{% endfor %}

{% endblock %}